POSTGRES_USER="postgres"
POSTGRES_PASSWORD="postgres"
POSTGRES_DATABASE="postgres"
POSTGRES_HOST="db"
POSTGRES_PORT="5432"
POSTGRES_SSL_MODE="disable"

TELEGRAM_BOT_TOKEN="your_telegram_bot_token"
TELEGRAM_TOKEN_EXPIRE_IN="24h"

JAEGER_COLLECTOR_ENDPOINT="http://localhost:14268/api/traces"

OPENAI_API_KEY=""
OPENAI_ASS_ID=""

GENAI_API_KEY=""

AWS_ENDPOINT=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
AWS_S3_BUCKET=""
AWS_REGION=""

PROXY_URL="socks5://1.1.1.1:12312"
PROXY_USER="user"
PROXY_PASSWORD="pass"